html, body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Lucida Grande";
    src: url("../font/facebook.ttf");

}

@font-face {
    font-family: "Product Sans";
    src: url("../font/Google.ttf");
}

/* Размеры и картинка для body */

body {
    min-width: 980px;
    max-height: 93%;
    background-image: url("../img/header/Backround-Journey.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Размеры,логотип, вид и картинк для header */

header {
    position: relative;
    height: 54px;
    background-color: rgba(0, 0, 0, 0.41);
}


/* Логотип для header */

header .logo_header {
    position: absolute;
    left: 81px;
    top: 10px;
    display: inline-block;
}

header .logo_header h1 {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

/* hover for logo name */

header .logo_header a {
    font: 1.250rem Verdana-Bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

}

header .logo_header a:hover .logo_j {
    color: #3cb878;
    transition: color 0.5s;
}

header .logo_header a:hover .logo_o {
    color: #3cb878;
    transition: color 1s;
}

header .logo_header a:hover .logo_u {
    color: #3cb878;
    transition: color 1.5s;
}

header .logo_header a:hover .logo_r {
    color: #3cb878;
    transition: color 2s;
}

header .logo_header a:hover .logo_n {
    color: #3cb878;
    transition: color 2.5s;
}

header .logo_header a:hover .logo_e {
    color: #3cb878;
    transition: color 3s;
}

header .logo_header a:hover .logo_y {
    color: #3cb878;
    transition: color 3.5s;
}

/* Инконки для header */

.icon_header {
    position: absolute;
    top: 15px;
    left: 66%;
    display: block;
}

.icon {
    margin-left: 18px;
    background: url("../img/header/sprites-journey.png");
    background-repeat: no-repeat;
}

.icon.calendar-hover {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 8px;
    background-position: -10px -10px;
}

.icon.calendar-hover:hover {
    background-position: -49px -10px;
    transition: background-position 0.6s;
}

.icon.forum-hover {
    display: inline-block;
    width: 28px;
    height: 20px;
    background-position: -168px -10px;
}

.icon.forum-hover:hover {
    background-position: -216px -10px;
    transition: background-position 0.6s;
}

.icon.journey-hover {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 25px;
    background-position: -88px -10px;
}

.icon.journey-hover:hover {
    background-position: -128px -10px;
    transition: background-position 0.6s;
}

/* Border - line для header */

.icon_header .border-line {
    position: absolute;
    display: flex;
    top: 2px;
    left: 181px;
    height: 19px;
    border-left: 1px solid white;
    opacity: 0.1;
}

/* Authorization для header */

header .header-authorization {
    position: absolute;
    top: 16px;
    left: 81%;
    display: block;
}

header .header-authorization span {
    font: 14px Verdana;
    color: #fff;
}

header .header-authorization span a {
    color: #3cb878;
    text-decoration: none;
}

header .header-authorization span a:hover {
    text-decoration: underline;
}

/* Authorization position for photo-gallery */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;

}

/* Authorization block for photo-gallery */

.container .authorization_form {
    width: 444px;
    height: 584px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
}

.container .authorization_form .header_form {
    width: 100%;
    height: 50px;
}

.container .authorization_form a {
    display: inherit;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header for authorization_form */
.container .authorization_form .header_form span {
    display: inline-block;
    text-transform: capitalize;
}

/* square in form */
.authorization_form .header_form .square_left {
    margin-top: 29px;
    float: left;
    width: 18px;
    height: 18px;
    background-color: rgb(60, 184, 120);
}

/* Sing up in form */
.authorization_form .header_form .singup_form {
    margin-top: 26px;
    margin-left: 42px;
    float: left;
    font: 20px Verdana;
}

.singup_form a {
    color: #434343;
}

.authorization_form .header_form .login_form {
    margin-top: 33px;
    margin-right: 59px;
    float: right;
    font: 14px Verdana;
}

.login_form a {
    color: #3cb878;

}

.login_form a:hover {
    text-decoration: underline;
}

/* social_network for photo-gallery */
.social_network {
    height: 93px;
}

.authorization_form .social_network .fb_form {
    position: relative;
    margin-left: 62px;
    margin-top: 13px;
    float: left;
    width: 157px;
    height: 46px;
    font: 16px Verdana;
    border-radius: 3px;
    background-color: #305db8;
    color: #fff;
    text-transform: capitalize;

}


/* FACEBOOK */

.fb_form span, .google_form span {
    display: inline-block;
    float: right;
    padding-right: 17px;
    padding-top: 12px;
}

.fb_form span::before {
    content: "";
    padding-right: 18px;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 28px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.fb_form::before {
    content: "f";
    position: absolute;
    left: 20px;
    top: 12px;
    font-family: "Lucida Grande", sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-transform: lowercase;
    color: #fff;
}


.authorization_form .social_network .fb_form:hover{
    background-color: #264b96;
    transition: background-color 1.5s;
}
.authorization_form .social_network .fb_form:active {
    background-color: #1f3d7b;
    box-shadow: 0 3px #345699 inset;

}
/* GOOGLE */
.authorization_form .social_network .google_form {
    position: relative;
    margin-top: 13px;
    margin-left: 8px;
    float: left;
    width: 157px;
    height: 46px;
    border-radius: 3px;
    background-color: #df4a32;
    font: 16px Verdana;
    color: #fff;
    text-transform: capitalize;
}

.google_form span {
    padding-right: 30px
}

.google_form span::before {
    content: "";
    padding-right: 18px;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 28px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.google_form::before {
    content: "G";
    position: absolute;
    left: 16px;
    top: 9px;
    font-family: "Product Sans", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: #fff;
}

.google_form::after {
    content: "+";
    position: absolute;
    left: 34px;
    top: 9px;
    font-family: "Product Sans", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}

.authorization_form .social_network .google_form:hover{
    background-color: #c3412c;
    transition: background-color 1.5s;
}
.authorization_form .social_network .google_form:active {
    background-color: #963222;
    box-shadow: 0 3px #c3412c inset;
}

/* Border - line for form */
.borderline_main {
    position: relative;
    display: flex;
}

.borderline_main .left-border {
    margin-left: 64px;
    margin-right: 25px;
    width: 135px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.borderline_main .text-border {
    position: absolute;
    left: 216px;
    top: -10px;
    font: 14px Verdana;
    color: #848484;
}

.borderline_main .right-border {
    margin-left: 24px;
    width: 135px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.content_form {
    width: 100%;
    height: 359px;

}

/* form - position  */

.form-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 21px;
}

.form-position .border-form {
    padding-left: 17px;
    margin-bottom: 9px;
    width: 322px;
    height: 46px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    font: 14px Verdana;
}

.form-position input {
    outline: none;
}


.form-position input:focus {
    position: relative;
    left: 5px;
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.form-position input::-webkit-input-placeholder {
    color: #bebebe;
}

/* Checkbox - position */

.position-checkbox {
    margin-top: -10px;
}

.chekboxpoint {
    margin-left: 52px;
    margin-top: 13px;
}

.chekboxpoint-label {
    position: relative;
}

.chekboxpoint-label span {
    padding-left: 5px;
}

.chekboxpoint-label .checkbox_black {
    position: absolute;
    top: 20px;
    left: 77px;
    width: 70px;
    font: 14px Verdana;
    color: #000;
}

.chekboxpoint-label .checkbox_green {
    position: absolute;
    top: 20px;
    left: 152px;
    width: 140px;
    font: 14px Verdana;
    color: #3cb878;
}

/* Checkbox - view */

.chekboxpoint {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.chekboxpoint + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}

.chekboxpoint + label:before {
    content: '';
    position: absolute;
    top: 19px;
    left: 50px;
    width: 18px;
    height: 18px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    background: #fff;
    transition: .2s;
}

.chekboxpoint + label:after {
    content: '';
    position: absolute;
    top: 24px;
    left: 52.7px;
    width: 15px;
    height: 15px;
    background-image: url("../img/form/checkbox.png");
    background-repeat: no-repeat;
    opacity: 0;
}

.chekboxpoint:checked + label:after {
    opacity: 1.0;
    transition: opacity 1s;
}


/*-------------------------------*/


.button_form {
    margin-top: -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 78px;
}

.button-click {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 17px;
    margin-bottom: 9px;
    width: 322px;
    height: 46px;
    background-color: #3cb878;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    font: 16px Verdana;
    text-transform: capitalize;
}

.button-click a {
    text-decoration: none;
    color: #fff;
}

.button_form .button-click:hover{
    background-color: #329a65;
    transition: background-color 1.5s;
}
.button_form .button-click:active {
    background-color: #25744c;
    box-shadow: 0 3px #329a65 inset;
}

