/* tables
.conteiner {
    text-align: center;
}

.basetable {
    display: inline-block;
}

.basetable, .basetable tr > td {
    border: 1px solid goldenrod;
}

.conteiner .text-left-wrapper div {
    text-align: left;
}

 */
/* shadow
div {
    border: 1px solid darksalmon;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.conteiner div {
    display: inline-block;
    width: 45%;
    box-shadow: 0 0 10px goldenrod;
    text-shadow: 1px 1px rebeccapurple;
}

 */

div {
    border: 1px solid darkolivegreen;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
}

.conteiner div {
    display: inline-block;
    width: 45%;
}

.conteiner .first_div {
    background: linear-gradient(to bottom, yellow, gray, navajowhite) 20%;
}

.conteiner .second_div {
    background: radial-gradient(rosybrown, indigo);
}

.pole {
    width: 200px;
    height: 150px;
    border: 1px dotted red;
    border-radius: 15px;
}

.chekboxpoint {

}