/*

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    background-color: #35444f;
}

.hover-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 150px;
    background-color:sandybrown;
    margin-top: 50px;
    font: 17px Verdana;
}

.conteiner:hover .block-position{
    background-color: red;
    display: flex;
}

.block-position {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
    background-color: indianred;
    margin-top: 40px;
    top:0;
    left:0;
}

.block-position {
    height: 300px;
}
.block-position div {
    position: absolute;
    display: block;
    border: 1px solid black;
    margin-bottom: 3px;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.first-position {
    height: 200px;
}

.block-position .first-position div {
    right: 0;
    width: 50px;
    height: 50px;
    left:50px
}

.block-position .second-position div{
    top: 100px
    width: 50px;
    height: 50px;

}



.wrapper header{
    height: 30%;
}
.wrapper nav{
    height: 10%;
}

.wrapper .content{
    height: 50%;
}

.wrapper footer {
    height: 10%;
}
.wrapper header,
.wrapper nav,
.wrapper .content .left-side-bar,
.wrapper .content .right-side-bar,
.wrapper .content photo-gallery,
.wrapper footer {
    border: 1px solid black;
}

.wrapper {
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

 */

html, body {
    height: 100%;
}
.container {
    display: grid;
    /*grid-template-columns: 100px 100px 100px 100px;*/
    /*grid-template-columns: 2fr 1fr 1fr 1fr;*/
    /*grid-template-columns: repeat(4, 100px);*/
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: 30% 30%;
    justify-content: space-around;
    align-content: center;
    height: inherit;

}


.container div {
    border: 1px solid #2d2d2d;
    text-align: center;
}

.container div:nth-child(2n) {
    background-color: mediumturquoise;
}
.container div:nth-child(3n) {
    background-color: khaki;
}

.container div:nth-child(2n+1) {
    background-color: lavenderblush;
}

.white-mouse {
    grid-column-start: 1;
    grid-column-end: 3;

}




























