/* Первое задание float clear index
.description {
    border: 1px solid black;
}

.image-wrapper {
    float: left;
    width: 300px;
    opacity: 0.9;
}

.image-wrapper img {
    width: 300px;
    border: 1px red dashed;
}
.title {
    float: right;
    border: 1px solid red;
}


 */

/* task2 работа с  Fonts index2
.first {
    font-style: italic;
    font-family: Verdana;
}

.second-wrapper {
    font-weight: 500;
}

.second {
    font-weight: bolder;
    font-family: "Times New Roman", sans-serif;
}

*/

/*Псевдоклассы index3

.poligon {
    border: 1px solid red;
}

.poligon:hover {
    background-color: chartreuse;
    color: #4bcaff;
    border: 2px solid yellow;
}

ul > li > a {
    color: black;
}

.link_1 a:hover{
    color: #16a085;
}

.link_4 a:visited {
    color: magenta;
}

.link_5 a:active, .link_5 a:hover {
    color: aqua;
}
*/

/* Псевдоэлементы index4

 */

ul.preudo-parent > li::before {
    content: "'";
}

ul.preudo-parent > li::after {
    content: "'";
}

ul.preudo-parent > li::first-letter {
    font-size: 25px;
    color: red;
}
