
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
/*
.conteiner {
    position: relative
    background: grey;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}


.conteiner .green {
    background-color: green;
}

.conteiner .blue {
    background-color: blue;
}

.conteiner .red {
    background-color: red;
}


.conteiner .green,
.conteiner  .blue,
.conteiner  .red {
    display: inline-block;
    width: 5vw;
    height: 25vh;
    font-size: 1vmax;

}

 */

/* FLEX, FLEX-DIRECTION JUSTIFY-CONTENT

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 500px;
    background: silver;
}

.container div {
    width: 45px;
    height: 45px;
    border: 1px solid gold;
    background-color: cornflowerblue;
    margin-right: 10px;
}
.container div:nth-child(odd) {
    background-color: #3cb878;
}

 */


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: lightskyblue;
}

header span {
    font-size: 40px;
}

header .second_text {
    font: 15px Verdana;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: inherit;
    height: 50px;
    background-color: sandybrown;

}

nav a {
    text-decoration: none;

}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    float: left;
    width: 35%;
    height: 100%;
    background-color: #f26522;
}

aside a{
    margin-left: 30px;
}
main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    float: left;
    width: 65%;
    height: 100%;
    background-color: lemonchiffon;
    margin: 0px;
}

main .main-second {
    position: absolute;
    top: 45px;
    left:50px;
    border: 1px solid #4bcaff;
    height: 50%;
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-second div {

}