/* position relative

div {
    border: 1px solid darkmagenta;
    margin-bottom: 5px;
    padding: 5px;
}

.positioned {
    position: relative;
    left: 10px;
    top: 25px;
}

 */

/*position absolute ------------------

 */
/*
div {
    border: 1px solid darkolivegreen;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.positioned {
    position: relative;
    min-height: 300px;
}

.positioned .pos_abs  {
    position: absolute;
    display: inline-block;
    width: 45%;
}

.positioned .pos_abs.first {
    background: #222222;
    top: 0px;
    left:0px;
    bottom: 0px;
    right: 0px;
    z-index: 6;
    opacity: .8;
}

.positioned .pos_abs.second {
    background: red;
    top: 40px;
    left: 30px;
    z-index: 5;
}
*/

/* position fixed -----------------

body {
    min-height: 1000px;
}

div {
    border: 1px dotted darkorange;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}

.positioned {
    position: fixed;
    background: lightpink;
}
*/
/* position sticky -----------------

body {
    min-height: 2000px;
}

h1 {
    background: turquoise;
}

h2{
    background: indigo;
    position: sticky;
    top: 10px;
}
 */

/* colors ----------------

ul li {
    padding: 5px;
    margin-bottom: 10px;
}

ul > li.rgb_any {
    color: rgba(255, 0, 56, .3);
    background: rgb(67, 41,250);
}

ul li.hsl_any {
    color: hsl(200, 90%, 45%);
    background: hsla(300, 125%, 20%, .3);
}

 */

/* SPRITE ---------------

.navlist {
    position: relative;
}

.navlist li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    top: 0;
}

.navlist li, .navlist a {
    height: 44px;
    display: block;
}

.sprite_back {
    background-image: url("../img/img_navsprites_hover.gif");
}

.home {
    left: 0;
    width: 46px;
    background-position: 0 -45px;
}

.prev {
    left: 63px;
    width: 43px;
    background-position: -47px -45px;
}

.next {
    left: 129px;
    width: 43px;
    background-position: -91px -45px;
}

.home:hover {
    background-position: 0 0;
}

.prev:hover {
    background-position: -47px 0px;
}

.next:hover {
    background-position: -91px -0px;
}

 */

/* FORM ELEMENT */

.input, input {
border: 2px dashed indianred;
}

.text {
    display: inline-block;
    width: 400px;
    height: 400px;
    border: 2px solid yellow;
    text-align: center;
    padding-top: 50px;
}
.fas.fa-address-book {
    font-size: 350px;
}