/* fonts */

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../font/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../font/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans.ttf");
}

/* width and height for html body */

html, body {
    width: 1900px;
    height: 100%;

}


/* work with navigation - bar: logo, search and menu, position -FLEX */
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 1900px;
    height: 70px;
    background-color: #1d2124;
}

.logo, .search {
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
}

.logo img {
    width: 27px;
    height: 27px;
    margin-left: 21px;
}

.logo::after {
    content: 'architect';
    margin-left: 27px;
    color: #fff;
    font: 22px "OpenSans-Bold";
    text-transform: capitalize;
    font-weight: bold;
}

.menu {
    display: flex;
}

.menu div {
    flex-grow: 1;
}

.menu div a {
    margin-right: 37px;
    font: 15px OpenSans-Semibold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.fas.fa-search {
    margin-left: 26px;
    color: #fff;
}

/* work with header - parallax img, text and button, position -FLEX */


header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 1900px;
    background-image: url("../img/header/header-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: unset;
}


.header_title h1 {
    margin: 0;
    padding: 0;
    margin-top: 135px;
    font: 27px "OpenSans";
    text-transform: uppercase;
    color: #fff;
}


.btn_position {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
    margin-right: calc(250px - 1em);
    margin-left: calc(250px - 1em);
}

.subscribe, .best_articles {
    width: 170px;
    height: 55px;
    font: 18px "OpenSans-Semibold";
    border-radius: 3px;
    background-color: #89ca62;
    text-transform: capitalize;
    margin-left: 20px;
    margin-top: 44px;
}

.subscribe a, .best_articles a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 55px;
    text-decoration: none;
    color: #fff;
}

.best_articles {
    background-color: #14b9d5;
    align-self: auto;

}

/* work with MOST POPULAR POST - photo gallery, position - FLEX */

.photo-gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1900px;
    background-color: #f2f2f2;
}

.most_popular {
    margin-top: 52px;
    font: 27px 'OpenSans-Bold';
    text-transform: uppercase;
    color: #18b4cf;
    margin-bottom: 44px;
}

.most_gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    margin-left: calc(100px + 5em);
    margin-right: calc(100px + 5em);
}


@media screen and (max-width: 2300px) {
    .most_gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-left: calc(100px + 10em);
        margin-right: calc(100px + 10em);
    }


}


.most_gallery a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 370px;
    height: 320px;
    background-image: url(../img/photo-gallery/post-1-img.png);
    background-repeat: no-repeat;
    background-color: #fff;
    margin-left: 30px;
    align-self: flex-start;
    text-decoration: none;
}

.most_gallery a:nth-child(3) {
    height: 355px;
    background-image: url(../img/photo-gallery/post-3-img.png);
}

.most_gallery a:nth-child(4) {
    margin-top: -90px;
    background-image: url(../img/photo-gallery/post-4-img.png);
}

.most_gallery a:nth-child(5) {
    margin-top: 25px;
    height: 309px;
    background-image: url(../img/photo-gallery/post-5-img.png);
}

.most_gallery a:nth-child(2) {
    height: 441px;
    background-image: url(../img/photo-gallery/post-2-img.png);
}

.most_gallery a:nth-child(6) {
    margin-top: -53px;
    height: 441px;
    background-image: url(../img/photo-gallery/post-6-img.png);
}

.most_gallery a span {
    margin-bottom: 22px;
    font: 18px 'OpenSans-Bold';
    color: #353a3d;
    text-transform: capitalize;

}

/* work with position layout - GRID */


/* work with OUR MOST POPULAR CLIENTS, parallax img, text, border and position brands, position - GRID */

.clients {
    display: grid;
    align-content: center;
    background-image: url("../img/main/our-most/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;

}

.clients_popular_text {
    text-align: center;
    padding-top: 188px;
    padding-bottom: 55px;
    font: 32px "OpenSans-Bold";
    color: #fff;
    text-transform: capitalize;
}

.clients_line {
    display: grid;
    justify-content: center;
    align-content: center;
    border: 1px solid #169cb4;
    width: 60px;
    margin-bottom: 51px;
}

.clients_brands {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 76px;
    justify-content: center;
    align-content: center;
    margin-bottom: 196px;
}

/* work with TOP RATED AND HOT NEWS - text, top rated - gallery, position - GRID */


.top-rated, .hot-news {
    padding-top: 52px;
    padding-bottom: 52px;
    text-align: center;
    font: 27px "OpenSans-Bold";
    color: #18b4cf;
    text-transform: capitalize;
}

.top-rated-gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;

}

.top-rated-gallery a img {

}

/* work with HOT NEWS - gallery and text, position - GRID */


.wrapper-hotnews-gallery {
    display: grid;
    justify-content: center;
    align-content: center;
}

.wrapper-hotnews-gallery div a {
    text-decoration: none;
    color: #000;
}


.hotnews-gallery-head {
    display: grid;
    grid-template-columns: 2fr 0.6fr;
    grid-gap: 35px;
}

.hotnews-gallery-head a, .hotnews-gallery-main a, .hotnews-gallery-foote a, .top-rated-gallery a {
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hotnews-gallery-head a:hover {
    transform: scaleY(1.2);
}

.hotnews-gallery-main a:hover {
    transform: scaleY(1.2);
}

.hotnews-gallery-foote a:hover {
    transform: scaleY(1.2);
}

.top-rated-gallery a:hover {
    transform: scaleY(1.2);
}


.proheny_hotel, .kings_hotel {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-bottom: 42px;
    width: 856px;
    height: 259px;
    background-image: url(../img/main/hotnews-gallery/post-1-img-1.png);
    background-repeat: no-repeat;
    background-color: #f9f7f7;
}

.proheny_hotel h3, .kings_hotel h3 {
    margin-left: 556px;
}

.proheny_hotel span, .kings_hotel span {
    margin-left: 513px;
    margin-right: 24px;
    text-align: justify;
}

.nebula_hotel, .prism_hotel {
    display: grid;
    justify-content: end;
    align-content: end;
    width: 277px;
    height: 259px;
    background-image: url(../img/main/hotnews-gallery/post-2-img-1.png);
    background-repeat: no-repeat;
    background-color: #f9f7f7;
}

.nebula_hotel h3, .prism_hotel h3 {
    margin-right: 42px;
}

.hotnews-gallery-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    margin-bottom: 42px;

}

.western_hotel, .grand_hotel, .wanderlust_hotel, .twin_hotel {
    display: grid;
    justify-content: end;
    align-content: end;
    width: 554px;
    height: 418px;
    background-image: url(../img/main/hotnews-gallery/post-3-img-1.png);
    background-repeat: no-repeat;
    background-color: #f9f7f7;

}

.western_hotel span, .grand_hotel span, .wanderlust_hotel span, .twin_hotel span {
    margin-left: 22px;
    margin-right: 27px;
    margin-bottom: 21px;
    text-align: right;
}

.western_hotel h3, .grand_hotel h3, .wanderlust_hotel h3, .twin_hotel h3 {
    margin-left: 232px;
    margin-top: 20px;
}

.grand_hotel {
    background-image: url(../img/main/hotnews-gallery/post-4-img-1.png);

}

.wanderlust_hotel {
    background-image: url(../img/main/hotnews-gallery/post-3-img-1.png);
}

.twin_hotel {
    background-image: url(../img/main/hotnews-gallery/post-6-img-2.png);

}

.hotnews-gallery-foote {
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    grid-gap: 35px;
    margin-bottom: 30px;
}

/* work with FOOTER - text and logo, position - GRID */


footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 1900px;
    height: 70px;
    background-color: #1d2124;

}


.copyright {
    font: 13px "OpenSans";
    color: #fff;
    line-height: 1.62;
    margin-left: 80px;

}

.logo-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-right: 87px;
    margin-left: 7px;


}

.footer_lioit {
    margin-left: -11px;
    margin-top: -7px;
}

.img_lioit {
    margin-left: -15px;
    margin-top: -13px;
}

.menu-homework-15 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    width: 1900px;
    height: 70px;
    background-color: #1d2124;
}

.menu-homework-15 a {
    margin-right: 37px;
    font: 15px OpenSans-Semibold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.button-top {
    width: 150px;
    background-color: #1d2124;
    color: #fff;
    position: fixed;
    top: 250px;
    right: 50px;
}

.button-top:active,
.button-top:focus{
    outline: none;
}

.button-toggle {
    width: 150px;
    height: 50px;
    background-color: #1d2124;
    color: #fff;
    position: relative;
    top: -141px;
}

.button-toggle:active,
.button-toggle:focus{
    outline: none;
}