/* pseudoclass
a{
    border: 1px solid red;
}

li {
    border: 1px solid greenyellow;
}

.conteiner ul li:hover{
    background: #16a085;
    color: #f26522;
}

.conteiner li a:hover{
    color: #f26522;
}

.conteiner .topmenu .menu a{
    color: #0c1927;
}

 */
/* pseudoclass
a {
    color: red;
}

.conteiner .top-nav li a::before {
    background-image: url('../img/walking.png');
    background-size: 10px 20px;
    display: inline-block;
    width: 10px;
    height: 20px;
    content:"";

}

 */
/*
.conteiner .position-item {
    background-color: grey;
    border: 3px solid darkblue;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    left: 20%;
    top: 20px;
}

 */

.second_block {
    position: relative;
    left: 10px;
    top: 5px;
    display: block;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background-color: gray;
}
.first_block {
    position: relative;
    left: 50px;
    top: 40px;
    display: block;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background-color: black;
    text-align: center;
    font-size: 35px;
}

span {
    position: relative;
    top: 250px;
}