/* Настройка body и backround-image */
body {
    margin-left: auto;
    margin-right: auto;
    width: 1366px;
    height: 768px;
    background-image: url("../img/backround/Milan_Holidays_backround.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Работа с логотипом*/

.logo_block {
    display: inline-block;
    color: rgb(255, 0, 0, 0,5);
}

.img_logo {
    margin-left: 155px;
    margin-top: 56px;
    display: block;
    float: left;
    width: 48px;
    height: 45px;
    background-image: url("../img/header/logo.png");
    background-repeat: no-repeat;
}


.img_logohover {
    display: none;
}

.logo_block a:hover .img_logohover {
    display: block;
    width: 48px;
    height: 45px;
    background-image: url("../img/header/logo-hover.png");
    background-repeat: no-repeat;
}


.logo_txt {
    padding-top: 49px;
    padding-left: 15px;
    display: block;
    float: left;
}

.txt_top, .txt_bottom {
    font-family: Verdana-Bold;
    font-size: 29px;
    color: #fff;
}

.logo_txt .txt_bottom {
    display: block;
    float: left;
    font-size: 18px;
}

.logo_block a {
    display: inherit;
    text-decoration: none;
}

.logo_block a:hover span {
    color: #f26522;
}


/* clearfix */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Работа с контактами */

.header_contact {
    display: inline-block;
    float: right;
    margin-right: 147px;
    margin-top: 57px;
}

.header_contact .tel {
    margin-left: 73px;
}

.header_contact span {
    font-family: Verdana;
    font-size: 18px;
    color: #fff;
}

/* Работа с меню картинок photo-gallery*/

.img_shopping, .img_sightseeing, .img_food, .img_bars, .img_art, .img_walking {
    display: block;
    float: left;
    margin-left: 69px;
    margin-bottom: 98px;
    width: 307px;
    height: 200px;
    background-image: url("../img/main/shopping.png");
    background-repeat: no-repeat;
}

.img_shopping, .img_bars {
    margin-left: 157px;
}

.img_shopping, .img_sightseeing, .img_food {
    margin-top: 35px;
}

.img_sightseeing {
    background-image: url("../img/main/sightseeing.png");
}

.img_food {
    background-image: url("../img/main/food.png");
}

.img_bars {
    background-image: url("../img/main/bars.png");
}

.img_art {
    background-image: url("../img/main/art.png");
}

.img_walking {
    background-image: url("../img/main/walking.png");
}

main .main_txt_bottom {
    margin-top: 222px;
    margin-left: 84px;
    display: block;
    float: left;
    font: 18px Verdana;
    color: #fff;
}

a:hover .main_txt_bottom {
    color: #f26522;
}

/* Создание градиентной рамки вокруг картинки */

.img_shopping, .img_sightseeing, .img_food, .img_bars, .img_art, .img_walking {
    -webkit-border-image: linear-gradient(to bottom, white, black) 0;
    -moz-border-image: linear-gradient(to bottom, white, black) 30;
    -o-border-image: linear-gradient(to bottom, white, black) 30;
    border-image: linear-gradient(to bottom, white, black) 30;
    border-width: 3px;
    border-style: solid;
}


/* Создание hover и анимации в картинке */
.shoopping_bars_slide, .sight_art_slide, .food_slide, .walking_slide {
    margin-left: -3px;
    margin-top: 203px;
    display: block;
    width: 313px;
    height: 0px;
    transition: height 0.5s;
    /*transform: scaleX(-1);*/
    transform: rotatex(180deg);
    transform-origin: top;
    /*overflow: hidden;*/
    /*height: 67px;*/
    /*max-height: 0px;*/
    background: #f26522;
    /*transition: max-height 0.15s ease-out;*/
    /*transition: max-height 1s cubic-bezier(0, 0, 1, 1);*/
    /*opacity: 3%;*/
    /*transform: scaleY(0);*/
    /*transition: transform 0.26s ease;*/
}

.shoopping_bars_slide span, .sight_art_slide span, .food_slide span, .walking_slide span {
    float: left;
    color: #fff;

}

/*.shoopping_bars_slide:hover {*/
/*    opacity: 100%;*/
/*    transition: margin-top 1s cubic-bezier(0, 0, 1, 1);*/
/*    margin-top: 136px;*/
/*}*/

.img_shopping:hover> .shoopping_bars_slide, .img_sightseeing:hover> .sight_art_slide, .img_bars:hover>.shoopping_bars_slide,.img_walking:hover>.walking_slide, .img_art:hover> .sight_art_slide,.img_food:hover> .food_slide {
    transform: scaleY(-1);
    height: 67px;
    /*max-height: 500px;*/
    /*transition: max-height 0.25s ease-in;*/
    /*max-height: 67px;*/
    /*transition: height 1s cubic-bezier(0, 0, 1, 1);*/
    /*transform: scaleY(1);*/
}

/* Текст для shoopping bars */
.shoopping_bars_slide .hover_from {
    margin-left: -200px;
    margin-top: 42px;
    display: none;
    color: #fff;
    font-size: 10px;
    transform: rotatex(180deg);
}

.shoopping_bars_slide .hover_cost {
    margin-left: -200px;
    margin-top: 18px;
    display: none;
    color: #fff;
    font-size: 20px;
    transform: rotatex(180deg);

}

.shoopping_bars_slide .hover_details {
    margin-left: -51px;
    margin-top: 18px;
    color: #fff;
    font-size: 14px;
    display: none;
    transform: rotatex(180deg);
}


.img_shopping:hover .hover_from, .img_shopping:hover .hover_cost, .img_shopping:hover .hover_details {
    display: inline;

}

.img_bars:hover .hover_from, .img_bars:hover .hover_cost, .img_bars:hover .hover_details {
    display: inline;

}

/* Текст для sight art */

.sight_art_slide .hover_from {
    margin-left: -228px;
    margin-top: 41px;
    display: none;
    color: #fff;
    font-size: 10px;
    transform: rotatex(180deg);
}

.sight_art_slide .hover_cost {
    margin-left: -228px;
    margin-top: 18px;
    display: none;
    color: #fff;
    font-size: 20px;
    transform: rotatex(180deg);
}

.sight_art_slide .hover_details {
    margin-left: -71px;
    margin-top: 18px;
    display: none;
    color: #fff;
    font-size: 14px;
    transform: rotatex(180deg);
}

.img_sightseeing:hover .hover_from, .img_sightseeing:hover .hover_cost, .img_sightseeing:hover .hover_details {
    display: inline-block;
}
.img_art:hover .hover_from, .img_art:hover .hover_cost, .img_art:hover .hover_details {
    display: inline-block;
}
/* Текст для food */

.food_slide .hover_from {
    margin-left: -166px;
    margin-top: 41px;
    display: none;
    color: #fff;
    font-size: 10px;
    transform: rotatex(180deg);
}

.food_slide .hover_cost {
    margin-left: -166px;
    margin-top: 19px;
    display: none;
    color: #fff;
    font-size: 20px;
    transform: rotatex(180deg);
}

.food_slide .hover_details {
    margin-left: 137px;
    margin-top: -20px;
    display: none;
    color: #fff;
    font-size: 14px;
    transform: rotatex(180deg);
}

.img_food:hover .hover_from, .img_food:hover .hover_cost, .img_food:hover .hover_details {
    display: inline-block;
}

/* Текст для walking */

.walking_slide .hover_from {
    margin-left: -194px;
    margin-top: 41px;
    display: none;
    color: #fff;
    font-size: 10px;
    transform: rotatex(180deg);
}

.walking_slide .hover_cost {
    margin-left: -194px;
    margin-top: 15px;
    display: none;
    color: #fff;
    font-size: 20px;
    transform: rotatex(180deg);
}

.walking_slide .hover_details {
    margin-left: 137px;
    margin-top: -24px;
    display: none;
    color: #fff;
    font-size: 14px;
    transform: rotatex(180deg);
}

.img_walking:hover .hover_from, .img_walking:hover .hover_cost, .img_walking:hover .hover_details {
    display: inline-block;
}


.hover_details::after {
    content: url("../img/main/Arrow.png");
    padding-left: 15px;
}

/* Текст для footer */

footer span {
    position: relative;
    bottom: 20px;
    display: block;
    margin-left: 512px;
    font-size: 12px;
    color: #ffF;
}


ul {
    background-color: #eee;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.26s ease;
}

p:hover ~ ul {
    transform: scaleY(1);
}