/* работа с display: none */

.test_mouse_01{
    border: 1px dashed black;
    display: none;
}
.test_rat_o1 {
    border: 1px solid red;
}
 /* работа вторая часть урока */

.bg_yellow {
    background-color: yellow;
}


.conteiner div {
    border: 1px #000 solid;
    margin-bottom: 20px;
}

.conteiner .test_dog1 p {
    background-color: yellow;
    margin-bottom: 5px;
    margin-top: 5px;
}

.conteiner .test_dog1 > p {
    background-color: red;
    color: #fff;
}

.conteiner .test_dog1.bg_yellow {
    text-decoration: underline;
}

/* работа третья часть урока */

.conteiner2 {
    font-size: 32px;
}

.conteiner2 div {
    font-size: 0.5rem;
    border: 1px yellow dashed;
    margin-bottom: 5px;
}
/* работа четвертая часть урока */

.conteiner3 li p {
    font-size: 0.5em;
}

.sub-conteiner {
    font-size: 0.8em;
}