/* fonts */

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../../../006/stylesheet/font/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../../../006/stylesheet/font/OpenSans-Semibold.ttf");
}


@font-face {
    font-family: "OpenSans";
    src: url("../../../006/stylesheet/font/OpenSans.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../../../006/stylesheet/font/parallax2/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../../../006/stylesheet/font/parallax2/Roboto-Black.ttf");
}

@font-face {
    font-family: "Futura-Bold";
    src: url("../../../006/stylesheet/font/parallax2/Futura-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../../../006/stylesheet/font/parallax2/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../../../006/stylesheet/font/parallax2/Roboto Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Italic";
    src: url("../../../006/stylesheet/font/parallax2/OpenSans-Italic.ttf");
}


html, body, .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


/* header position Flex  */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;

}

header::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    clip-path: polygon(50% 100%, 100% 90%, 100% 100%, 0 100%, 0 90%);
    background: #fff;
    z-index: 1;
}


/* menu and logo position Flex  */

nav {
    /*position: absolute;*/
    /*z-index: 3;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 133px;
    width: 100vw;
    height: 110px;
    background-color: #fff;
    z-index: 3;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
}

.menu li {
    margin-right: 50px;
}

.menu li a {
    font: 15px "OpenSans-Bold";
    color: #3e4c4e;
    text-transform: uppercase;
    text-decoration: none;
}

.menu li a:hover {
    color: #14afca;
}

.logo_company {
    font: 36px "Roboto-Light";
    text-transform: capitalize;
    color: #424f57;
}

.logo_name {
    font: 36px "Roboto-Black";
    color: #14afca;
    text-transform: uppercase;
}


/* text header position Flex  */

.we_creat_responsive {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font: 52px "Futura-Bold";
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 168px;
    z-index: 3;
}

/* block what position Flex  */

.what {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what_text_first, .companies_text_first, .meet_txt_first, .testionials_txt_firsrt, .why_txt_first {
    font: 60px "Roboto-Bold";
    color: #14afca;
    text-transform: uppercase;
    margin-top: 95px;
    z-index: 3;
}

.what_text_second, .meet_txt_second, .why_txt_second {
    font: 18px "OpenSans-Semibold";
    color: #424f57;
}

.what_text_third {
    margin-top: 33px;
    margin-bottom: 101px;
    font: 16px "Roboto Regular";
    color: #424f57;
    line-height: 1.88;
    text-align: center;
    margin-left: calc(215px - 1em);
    margin-right: calc(215px - 1em);

}

/* block companies position Flex and brands position GRID */

.companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 715px;
    /*clip-path: polygon(50% 11%, 100% 0, 100% 100%, 0 100%, 0 0);*/
}

.companies::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    clip-path: polygon(50% 100%, 100% 90%, 100% 100%, 0 100%, 0 90%);
    background: #fff;
}


.companies_text_second {
    font: 18px "OpenSans-Semibold";
    color: #fff;
    margin-bottom: 49px;
    z-index: 3;
}

.companies_text_barnds {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: space-around;
    align-content: start;
    grid-gap: 40px;
    z-index: 3;
}

.behance {
    margin-top: 35px;
    margin-bottom: 70px;
}

.envato_one {
    margin-top: 35px;
}

.deviant {
    margin-top: 20px;
}

.flickr {
    margin-bottom: 184px;
}

/* block meet-us position Flex and about position GRID */


.meet-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


.meet_txt_second {
    color: rgba(66 79 87, 0.89);
    margin-bottom: 47px;
}

.meet_about {
    display: grid;
    grid-template-columns: 279px 279px 279px;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-gap: 89px;
}

.first-meetus, .second-meetus, .third-meetus {
    justify-self: center;
    margin-bottom: 27px;
}

.meet_about span {
    text-align-last: center;
    margin-top: -89px;
    margin-bottom: 120px;
}

/* block testionials position Flex and  blockquote txt*/

.testionials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 577px;

}


.testionials::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    clip-path: polygon(50% 100%, 100% 90%, 100% 100%, 0 100%, 0 90%);
    background: #fff;
}


.testionials_txt_second {
    font: 16px "OpenSans-Semibold";
    color: #fff;
    z-index: 3;
}

.testionials_blockquote {
    font: 16px "OpenSans-Italic";
    color: #d3cccc;
    text-align: center;
    margin-left: 256px;
    margin-right: 258px;
    z-index: 3;
}


.testimonials_author {
    display: block;
    margin-top: 25px;
    margin-left: 520px;
    margin-bottom: 164px;
    font: 18px "OpenSans-SemiboldItalic";
    color: #fff;
    z-index: 3;
}

/* block why position Flex*/


.why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.why_txt_second {
    padding-bottom: 55px;
}

.why_txt_third {
    margin-bottom: 113px;
    font: 30px "Roboto-Bold";
    color: #424f57;
    margin-left: 312px;
    margin-right: 311px;
    -ms-text-align-last: left;
    text-align-last: center;
}

/* footer position Flex and */


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 104px;
    font: 14px "OpenSans";
    color: #3d3c3c;
}

.footer_designed b {
    font-family: "OpenSans-Bold";
}


/* parallax group work*/


.container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.position_section {
    position: relative;
    /*height: 100vh;*/
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    /*background: rgba(0, 0, 0, .7);*/

    z-index: -1;
}

.static {
    background-color: #fff;
}


.bg1::after {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../paralax2/bg_paralax/bg1.jpg');
}




.bg2::after {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../paralax2/bg_paralax/bg2.jpg');
}


.bg3::after {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../paralax2/bg_paralax/bg3.jpg');
}

/* Border top for block parallax*/


.border-img {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 70px solid #fff;
}



