body,html {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.container{
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 70%;
    font-family: Roboto, sans-serif;
    color: #fffd41;
    transform: perspective(200px) rotateX(30deg);
}
.block-txt {
    position: absolute;
    animation: block-txt 50s linear infinite;
}
.block-txt h2{
    text-align: center;
    font-weight: bold;
}
@keyframes block-txt {
    0% {
        top: 100%;
    }
    100% {
        top: -250%;
    }
}

