body, html {
    height: 100%;
}


.container {
    display: grid;
    grid-template-areas:
            "nav header advert"
            "nav content advert"
            "nav footer advert";
    grid-gap:10px;
    height: 100%;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 20%;
}


.supper-header,
.supper-nav,
.supper-content,
.supper-advertisement,
.supper-footer {
    padding: 10px;
    background: dimgrey;
    border: 1px solid navajowhite;
}

.supper-header {
    grid-area: header;
}

.supper-nav {
    grid-area: nav;
}

.supper-content {
    grid-area: content;
}

.supper-advertisement {
    grid-area: advert;
}

.supper-footer {
    grid-area: footer;
}