html, body {
    height: 100%;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

.container .item {
    padding: 10px;
    border: 1px solid #35444f;
    width: 250px;
    text-align: center;
    transition-property: width;
    transition-duration: .9s;
    /*transition-delay: 1s;*/
    transition-timing-function: ease-in-out;
}

.container .item:hover {
    cursor: pointer;
    background: lavender;
    color: silver;
    width: 300px;
}