
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.wrapper header, .wrapper footer {
    width: inherit;
    height: 20vh;
    background-color:sandybrown;
}

.wrapper header {
    font: 10vh Verdana;
    text-align: center;
    padding-top: 5vh;

}

.wrapper nav {
    /*width: 20vw;*/
    height: 70vh;
    background-color: paleturquoise;
    flex-basis: 25%;
    flex-shrink: 2;
    flex-grow: 3;
}

.wrapper article {
    /*width: 60vw;*/
    height: 70vh;
    background-color: papayawhip;
    flex-basis: 65%;
    flex-shrink: 5;
    flex-grow: 1;
}

.wrapper aside {
    /*width: 20vw;*/
    height: 70vh;
    background-color: lightpink;
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 1;
}
.wrapper footer {
    height: 10vh;
    background-color:darksalmon;
}

.wrapper .content {
    display: flex;
}