
@keyframes change_color {
    from {
        background-color:lavenderblush;
        color: bisque;
    }

    to {
        background-color: dimgrey;
        color: lightslategrey;
    }
}


.container {

}

.container .item{
    padding: 10px;
    text-align: center;
}

.container .item:nth-child(even){
    background-color: antiquewhite;
    cursor: pointer;
}

.container .item:hover {
    cursor: pointer;
    animation: change_color .9s;
}