/* Шрифты */
@font-face {
    font-family: "GothamRounded";
    src: url("fonts/gothamrounded-light.otf");
    font-weight: normal;
    font-style: normal;
}

/* Размеры  сайта */

body {
    width: 1280px;
    height: auto;
}

/* Header */

.menu {
    height: 81px;
    background-color: #ffffff;
}

.link-class a {
    display: inline-block;
    font: 25px "Roboto";
    color: #16a085;
    font-weight: 700;
    font-variant: small-caps;
    text-decoration: none;
    text-align: left;
    padding-top: 22px;
}

.link1 {
    margin-left: 332px;
}
.link2 {
    margin-left: 75px;
}
.link3 {
    margin-left: 75px;
}
.link4 {
    margin-left: 75px;
}

/* Content site */


.image {
    height: 790px;
    background-image: url(img/1.jpg);
}

.text {
    height: 650px;
    background-color: #f5f6f7;
}

h1 {
    font: 35px "Roboto";
    color: #373737;
    font-weight: 700;
    font-variant: small-caps;
    letter-spacing: 1.5px;
    margin-top: 0;
    text-align: center;
    padding-top: 30px;
}

p {
    font: 16px "Roboto";
    color: #373737;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin-left: 113px;
    margin-right: 108px;
    text-align: center;
}

.button {
    display: inline-block;
    width: 220px;
    height: 40px;
    border: 1px solid #16a085;
    background-color: #16a085;
    border-radius: 4px;
    margin-left: 40%;
    margin-top: 40px;
    text-align: center;
    padding-top: 15px;
}
.button span{
    font: 20px "GothamRounded";
    font-variant: small-caps;
    color: #ffffff;
    margin-top: 50%;
    letter-spacing: 1.3px;
}
.button a {
    display: block;
    text-decoration: none;
}

/* Footer site */

footer {
    height: 108px;
}

.copy {
    font: 18px "Roboto";
    color: #373737;
    font-weight: 600;
    text-align: right;
    padding-top: 30px;
    letter-spacing: 2.2px;
}