/* прошлое занятие index */

li {
      font-size: 0.75em;
  }

/* Float  index2*/

.main div{
    float: left;
    /*height: 50px;*/
    /*width: 50px;*/
    /*margin-right: 5px;*/
    /*margin-bottom: 20px;*/
}
.main p {
     clear: left;
 }

.main div img {
    width: 50px;
    height: 50px;
}

.bg_yellow {
    background: yellow;
}

.bg_green {
    background: green;
}
.bg_red {
    background: red;
}
/* Float вторая часть урока index 3*/

.main2 {
    display: inline-block;
}

.main2 .img-wrapper {
    float: left;
    margin-right: 5px;
}

.main2 .img-wrapper img {
    width: 300px;
    height: 300px;
}
/* Layout вторая часть урока index 4*/

header {
    height: 200px;
    border: 3px double red;
}

main3 > div {
    height: 300px;
    display: inline-block;
    margin-right: -5px;
}

main3 .left-sidebar, main3 .right-sidebar {
    width: 20%;
    border: 1px solid green;
}

main3 .content {
    width: 60%;
    border: 1px dashed magenta;
}

main3 .img_wrapper2 {
    float: left;
    width: 40%;
    height: 40%;
}
main3 .img_wrapper2 img {
    width: 50%;
    height: 50%;
}

main3 .content3 {
}