@font-face {
    font-family: 'Arimo';
    src: url("../font/ArimoRegular/Arimo-Regular.eot");
    src: url("../font/ArimoRegular/Arimo-Regular.eot?iefix") format('eot'),
    url("../font/ArimoRegular/Arimo-Regular.ttf") format('ttf'),
    url("../font/ArimoRegular/Arimo-Regular.woff") format('woff'),
    url("../font/ArimoRegular/Arimo-Regular.woff2") format('woff2'),
    url("../font/ArimoRegular/Arimo-Regular.cff") format('cff'),
    url("../font/ArimoRegular/Arimo-Regular.dfont") format('dfont'),
    url("../font/ArimoRegular/Arimo-Regular.otf") format('otf'),
    url("../font/ArimoRegular/Arimo-Regular.pfa") format('pfa'),
    url("../font/ArimoRegular/Arimo-Regular.svg#webfont") format('svg'),
    url("../font/ArimoRegular/Arimo-Regular.t42") format('t42');
}

@font-face {
    font-family: 'Arimo-Bold';
    src: url("../font/ArimoBold/Arimo-Bold.eot");
    src: url("../font/ArimoBold/Arimo-Bold.eot?iefix") format('eot'),
    url("../font/ArimoBold/Arimo-Bold.ttf") format('ttf'),
    url("../font/ArimoBold/Arimo-Bold.woff") format('woff');
    url("../font/ArimoBold/Arimo-Bold.woff2") format('woff2'),
    url("../font/ArimoBold/Arimo-Bold.cff") format('cff'),
    url("../font/ArimoBold/Arimo-Bold.dfont") format('dfont'),
    url("../font/ArimoBold/Arimo-Bold.otf") format('otf'),
    url("../font/ArimoBold/Arimo-Bold.pfa") format('pfa'),
    url("../font/ArimoBold/Arimo-Bold.svg#webfont") format('svg'),
    url("../font/ArimoBold/Arimo-Bold.t42") format('t42');
}

/* 100% width and height */

html, body {
    width: 100%;
    height: 100%;
}


/* position elemts for container */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

/* position for table */
.container .table_price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1192px;
    height: 736px;
    background-color: #3a4965;
    font: 16px "Arimo";
    text-transform: uppercase;
    color: #484848;
}

/* Work with table */
.container .table_price .price_list {
    width: 1141px;
    height: 680px;
    background-color: #eeeeee;
    border-collapse: collapse;
    text-align: center;
}

/* Border for table */

.container .table_price .price_list tr td {
    box-shadow: inset 0px -11px 5px -10px rgba(0, 0, 0, 0.27);
}

/* Width for colums for table */
.container .table_price .price_list tr td {
    width: 157px;
}


/* Bg color for 1,3,5,7 colums for table */
.container .table_price .price_list tr td:nth-child(2n+1) {
    background-color: #f2f2f2;

}

/* Bg color for 2,4,6 colums for table */
.container .table_price .price_list tr td:nth-child(2n) {
    background-color: #e3e3e3;
}

/* Width for first colums for table */
.container .table_price .price_list tr td:nth-child(1) {
    width: 198px;
}

/* height for first line for table */
.container .table_price tr:first-child {
    height: 112px;
}

/* Bg color for first colums for table */

.container .table_price .price_list .colum-color.one td:first-child {
    background-color: #89c331;
    font: 24px "Arimo-Bold";
    color: #fff;
}

.container .table_price .price_list .colum-color.two td:first-child {
    background-color: #f04a56;
    font: 30px "Arimo-Bold";
    color: #fff;
}

.container .table_price .price_list .colum-color.three td:first-child {
    background-color: #20807c;
    font: 24px "Arimo-Bold";
    color: #fff;
}


/* br for word in table and font awesome */
.container .table_price .price_list td p {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

/* Font for first line for table */
.container .table_price .price_list tr td .bold {
    font: 20px "Arimo-Bold";
}

.container .table_price .price_list .choose {
    font: 14px "Arimo-Bold";
}

.container .table_price .price_list .price {
    font: 20px "Arimo-Bold";
}

.fas.fa-archive, .fas.fa-cloud-upload-alt, .fas.fa-envelope, .far.fa-life-ring, .fas.fa-cube, .fas.fa-users {
    font-size: 24px;
    margin-bottom: 12px;
    color: #848484;
    display: block;
}

/* Font and position for first colums for table */
.container .table_price .price_list .colum-color .price-cost {
    position: relative;
}


.container .table_price .price_list .colum-color .cost {
    margin-top: -18px;
    padding-left: 22px;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
    font: 36px "Arimo-Bold";

}

.container .table_price .price_list .colum-color .cent {
    margin-top: -18px;
    display: inline-block;
    float: left;
    font: 18px "Arimo-Bold";

}

.container .table_price .price_list .colum-color .per {
    margin-top: 6px;
    margin-left: 6px;
    display: inline-block;
    float: left;
    font: 14px "Arimo-Bold";
}

.standard, .ultimate, .premium {
    display: block;
    font: 24px "Arimo-Bold";
}

.container .table_price .price_list .colum-color .price-cost .standard {
    position: absolute;
    top: 18px;
    left: 33px;
}

.container .table_price .price_list .colum-color .price-cost .ultimate {
    position: absolute;
    top: 18px;
    left: 33px;
}

.container .table_price .price_list .colum-color .price-cost .premium {
    position: absolute;
    top: 18px;
    left: 33px;
}

/* Buttons for first colums in table */

.container .table_price .price_list .price-cost .button.button-black {
    margin-top: 10px;
}

.container .table_price .price_list .price-cost .button {
    position: absolute;
    left: 23px;
    top: 115px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 41px;
    background: #484848;
    border-radius: 5px;
    box-shadow: 0px -7px #404040 inset;
    font: 16px "Arimo-Bold";
    color: #fff;
}

.container .table_price .price_list .price-cost .button.button-black:hover {
    background-color: #3b3b3b;
    box-shadow: 5px -7px #2d2d2d inset;
}