/* подключение шрифтов */
@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../font/MyriadPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

/* Размер страницы body */

body {
    margin-left: auto;
    margin-right: auto;
    width: 1480px;
    height: 1280px;
    border: 1px solid red;
}

/* Работа с текстом header */
.logo {
    display: inline-block;
}

.logo a {
    text-decoration: none;
}

.logo span {
    margin: 60px auto 20px 0;
    display: block;
    float: left;
    font: 80px "MyriadPro-Regular";
    color: #4bcaff;
}

.logo .color_ra {
    color: #000;
}

/* Работа с меню header */

nav, footer {
    display: inline-block;
    width: 1280px;
    height: 70px;
    background-color: #35444f;

}

nav a {
    padding-top: 22px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    float: left;
    height: 69%;
    text-decoration: none;
    font: 24px "MyriadPro-Regular";
    color: #fff;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

nav a:not(.link4) {
    text-transform: capitalize;
}

nav a:hover {
    display: block;
    background-color: #222f3a;

}

.link1 {
    margin-left: 160px;
}

.link2 {
    margin-left: 10px;
}

.link3 {
    margin-left: 10px;
}

.link4 {
    margin-left: 12px;
}

/* Работа с меню, картинкой и текстом photo-gallery */

.left_sidebar {
    display: inline-block;
    float: left;
    width: 27%;
    height: 700px;
}


.border_left {
    margin-top: 50px;
    display: inline-block;
    width: 344px;
    height: 399px;
    border: 2px solid grey;
}

.border_left ul {
    list-style: none;
    display: inline-block;

}

.link_left {
    background-image: url("../img/1.png");
    margin-left: -40px;
    margin-top: -16px;
    margin-bottom: -15px;
    padding-left: 39px;
    padding-top: 36px;
    padding-bottom: 15px;
    display: block;
    float: left;
    width: 160%;
    height: 53.7px;
    font: 27px "MyriadPro-Regular";
    color: #485863;
    text-transform: capitalize;
    text-decoration: none;
}

.link_left:hover {
    display: block;
    background-color: #dbdbdb;
}

.link_left span {
    padding: 40px;
    margin: -40px;
    padding-right: 226px;
    margin-right: -226px;
    display: block;
}

.link_left span:hover {
    transform: translateX(20px);
    transition-duration: 1.3s;
}


.right_sidbar {
    display: inline-block;
    float: left;
    width: 70%;
    height: 700px;
}

.border_right {
    margin-top: 50px;
    display: inline-block;
    width: 84.6%;
    height: 529px;
    border: 2px solid grey;
}

.img {
    margin-top: 75px;
    margin-left: 285px;
    width: 320px;
    height: 380px;
    background-image: url("../img/1.png");
    background-position: center;
}

.img:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 2s;
}

.bottom_sidebar {
    margin-left: 30%;
    margin-top: -60px;
    margin-right: 229px;
    margin-bottom: 50px;
    display: inline-block;
    text-align: left;
}

.bottom_sidebar p {
    font: 18px "MyriadPro-Regular";
}

/* Работа с меню footer */

footer {
    background-color: rgba(99, 105, 110, 0.48);
}

footer .link_footer {
    padding-top: 22px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    float: left;
    height: 69%;
    font: 28px "MyriadPro-Regular";
    color: #0c1927;
    text-decoration: none;
    text-transform: capitalize;
    text-align: left;
}

footer .link_footer:hover {
    text-decoration: underline;
    color: #3181a6;
}

.copy {
    padding-right: 35px;
    font: 23px "MyriadPro-Regular";
    color: #010101;
    text-align: right;
}